@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
:root {
  --color-theme: #f46969;
  --text-color: #fff;
  --background-theme: #000;
  --border-color: #666666;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "Quicksand", sans-serif;
  background-color: var(--background-theme);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1 {
  font-weight: 300;
}

.main-container {
  max-width: 800px;
  margin: 0 auto;
}
.heading h1 {
  /* text-align: center; */
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 1rem;
}
.circle .circle-1 {
  position: absolute;
  width: 101px;
  height: 101px;
  /* left: 616px;
    top: 93px; */
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    #f50a0a 0%,
    rgba(233, 13, 13, 0.79) 44.85%,
    rgba(232, 15, 15, 0.39) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation: myfirst 5s ease-in infinite;
}

@keyframes myfirst {
  0% {
    top: 100px;
    right: 300px;
  }
  25% {
    top: 200px;
    right: 300px;
  }
  50% {
    top: 300px;
    right: 300px;
  }
  75% {
    top: 200px;
    right: 300px;
  }
  100% {
    top: 100px;
    right: 300px;
  }
}

#particles-js {
  width: 50rem;
  height: 20rem;
}

/* Intro */
.intro {
  padding-top: 50px;
}

.intro .grid {
  grid-template-columns: 1fr 2fr;
}

.intro .grid .intro-img {
  margin-left: 200px;
}
.intro .grid .intro-img img {
  border-radius: 50%;
}

.intro-text .userName {
  font-size: 40px;
  font-weight: 700;
}

/* dynamic text */
.intro-text p span {
  color: var(--color-theme);
  font-weight: 900;
  font-size: 25px;
}

.intro .intro-text .intro-desc {
  font-size: 1rem;
  width: 50rem;
}

/* Social Media section */

.social-media {
  height: 5rem;
  text-align: center;
}

.social-media ul {
  display: flex;
}

.social-media li {
  padding: 1rem;
  margin: 0 1rem;
  font-weight: 500;
}
.social-media li:hover {
  border-bottom: 2px solid #f46969;
  transform: scale(0.88);
}

/* Skills */
.skills .grid {
  grid-template-columns: auto;
  justify-content: start;
  gap: 20px;
  /* padding: 10px; */
}

.skills .skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.9em;
}

.skills .skill-list .skill-card {
  padding: 10px;
  margin: 10px;
  border: 1px solid #666666;
  border-radius: 5px;
  padding: 0.5em 1em;
  align-items: center;
}

/* education */
.education .grid {
  grid-template-columns: auto;
  justify-content: start;
}

/* education timeline */
/* Timeline Container */

.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* Card container */
.card {
  position: relative;
  max-width: 534px;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid var(--color-theme);
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: 1.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: -7px;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.card .info {
  display: flex;
  flex-direction: column;
  background: #333;
  color: gray;
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.title {
  color: var(--color-theme);
  position: relative;
}

.card p {
  color: #fff;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid var(--color-theme);
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}

/* work-experiences */
.work-exp .card-boarder {
  border: 1px solid var(--border-color);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}

.work-exp .work-card {
  border-left: 1px solid var(--border-color);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}

.work-exp .work-card .date-location {
  display: flex;
  margin: 2rem 0;
}

.work-card .date-location p {
  padding-right: 1rem;
}

/* project wrap */
.project{
  margin-bottom: 1rem;;
}
.project .project-wrapper {
  /* flex-wrap: wrap; */
  /* flex: ; */
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  gap: 5rem;
  /* grid-template-rows: repeat(3, 1fr); */
}

.project .project-card {
  box-shadow: -1px 1px 20px 11px rgba(244, 105, 105, 0.4);
  padding: 2rem;
  border-radius: 5%;
  /* margin: 0.5rem; */
  /* width: 100%; */
}

.project .project-card:hover {
  transform: scale(0.98);
}

.project .project-card .project-heading {
  margin-bottom: 1rem;
}

.project .project-card .project-img {
  margin-bottom: 1rem;
}

.project .project-card .project-img img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.project .project-card .project-desc p {
  margin-bottom: 1rem;
}

.project .project-card .project-desc li {
  list-style-type: disc;
}

.project .project-card .project-desc li a {
  color: var(--color-theme);
  line-height: 1.5rem;
}

.footer .container{
  text-align: center;
  background-color: #f46969;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

/* utilites */
.grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.grid-row {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  width: 100%;
}

.m-tb {
  margin: 2rem 0;
}

.flex {
  display: flex;
  justify-content: center;
}
